DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me-in-local-development
DJANGO_DEBUG=true
POSTGRES_DB=wind_platform
POSTGRES_USER=wind
POSTGRES_PASSWORD=wind
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
